.body{
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}

/*_______Header________*/

.header{

}

.header-logo{
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24 / 18);
    color: #2E2F42;
}

.web{
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24 / 18);
    color: #4D5AE5;
}

.header-pages{
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #2E2F42;
}

.header-pages:hover{
    color: #434455;
}
.header-pages:focus{
   color: #4D5AE5;
}

.header-info{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #434455;
}

/*_______Section-1________*/

.section-1{
    background: #2E2F42;
}

.section-1-title{
    font-weight: 600;
    font-size: 56px;
    line-height: calc(60 / 56);
    color: #FFFFFF;
}

.section-1-btn{
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: #FFFFFF;
    background: #4D5AE5;
}

/*_______Section-2________*/

.section-2{}

.section-2-list{
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: #2E2F42;
}

.section-2-puncts{
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: #2E2F42;
}

.section-2-info{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #434455;
}

/*_______Section-3________*/

.section-3{}

.section-3-title{
    font-weight: 600;
    font-size: 36px;
    line-height: calc(40 / 36);
    color: #2E2F42;
}

.section-3-photo{}

/*_______Section-4________*/

.section-4{
    background: #F4F4FD;
}

.section-4-title{
    font-weight: 600;
    font-size: 36px;
    line-height: calc(40 / 36);
    color: #2E2F42;
}

.section-4-list{}

.section-4-photo{}

.section-4-name{
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: #2E2F42;
}

.section-4-prof{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #434455;
}

/*_______Footer________*/

.footer{
    background: #2E2F42;
}

.footer-logo{
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: #F4F4FD;
}

.footer-web {
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: #4D5AE5;
}

.footer-info{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #E7E9FC;
}

/*_______Portfolio________*/

.portfolio{}

.portfolio-btn-2{
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #FFFFFF;
    background: #4D5AE5;
}

.portfolio-btn{
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #4D5AE5;
    background: #F4F4FD;
}

.portfolio-list{}

.portfolio-photo{}

.portfolio-name{
    font-weight: 600;
    font-size: 20px;
    line-height: 2calc(24 / 20);
    color: #2E2F42;
}

.portfolio-prod{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #434455;
}
